@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, autumn, garden;
};

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #6F4E37;
  border-radius: 9999px;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #8B5E3C;
  background-clip: content-box;
}